<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>标题0</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题1</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题2</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题3</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题4</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题5</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题6</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题7</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>标题8</string>
		<key>note</key>
		<string>副标题</string>
		<key>icon</key>
		<string>0.png</string>
		<key>promo</key>
		<string>product_promo_1</string>
	</dict>
</array>
</plist>
